@import '../../index.scss';

.loyalty-program {
  .left {
    padding-bottom: 113px;
    height: fit-content;
    .preview-block {
      position: relative;
      padding: 32px;
      background: #ffffff;
      border-radius: 20px;
      margin-bottom: 114px;
    }
    .widget-preview {
      position: relative;
      width: 360px;
      height: 704px;
      background-color: #fff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      overflow: hidden;
      margin: 0 auto;
      &__container {
        padding: 52px 16px 0;
      }

      .banner {
        position: absolute;
        width: 100%;
        height: 151px;
        background-color: #0b1e47;
      }

      .close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .points-program {
        position: relative;
        background: #ffffff;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 20px 16px 0;
        margin-bottom: 12px;
        &__title {
          margin-bottom: 12px;
        }
        &-action {
          position: relative;
          display: flex;
          align-items: center;
          padding: 16px 0;
          &:first-of-type {
            border-bottom: 1px solid #0b1e471a;
          }
          &__title {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            margin-left: 12px;
          }
        }
        .icon-right {
          position: absolute;
          right: 0;
        }
      }
      .referral-program {
        padding: 20px 16px;
        background: #ffffff;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 12px;
        &__title {
          margin-bottom: 20px;
        }
        &__subtitle {
          margin-bottom: 12px;
        }
        &-link {
          display: flex;
          margin-bottom: 12px;
          &__input {
            margin-right: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 7px;
            flex: 1;
            padding-left: 12px;
          }
          &__button {
            padding: 12px 30px;
            background: #0b1e47;
            border-radius: 7px;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
          }
        }
        &-social {
          margin-right: -4px;
          margin-left: -4px;
          display: flex;
          justify-content: space-between;
        }
      }
      .vip-tiers {
        background: #ffffff;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 20px 16px;

        &__title {
          margin-bottom: 12px;
        }
        &__subtitle {
          margin-bottom: 12px;
        }
        &-status {
          display: flex;
          align-items: center;
          svg {
            margin-right: 12px;
          }
          &__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #637381;
          }
          &__subtitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #1a1a1a;
          }
        }
      }
      .footer {
        background: rgba(11, 30, 71, 0.05);
        padding: 25px 16px;
        display: flex;
        justify-content: space-between;
        &__left {
          display: flex;
          align-items: center;
          h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: #000000;
            margin-right: 4px;
          }
          p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
          }
        }
        &__right {
          display: flex;
          align-items: center;
          svg:first-child {
            margin-right: 18px;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 8px;

    &-how-to-earn {
      margin-bottom: 20px;
    }
  }

  &__textfield {
    &-how-to-earn {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6d7175;
  }

  .col {
    max-width: 352px;
    width: 100%;
    flex: 0 0 auto;
  }

  .card {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 20px;
      font-family: 'SF Pro Text';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      color: #202223;
    }

    &__title {
      font-weight: 400;
      font-size: 17px;
    }

    &__description {
      color: #202223;
    }

    &__action-buttons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;

      span {
        display: inline-flex;
        cursor: pointer;
      }

      span:first-child {
        margin-right: 8px;
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}
