@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-1 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #202223;
}

.title-2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #202223;
}

.title-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202223;
}

.title-4 {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #202223;
}

.subtitle-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6d7175;
}

.description {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0b1e47;
  opacity: 0.7;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  padding: 56px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #202223;
  opacity: 0.3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 8px;
  margin-top: 8px;
}

.col {
  flex: 1;
}

.card {
  position: relative;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #ffffff;
}
.card__icon {
  width: 74px;
  height: 74px;
  background: #f5f6f8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__title {
  margin-bottom: 8px;
  font-family: "SF Pro Text";
  font-style: normal;
  line-height: 24px;
  color: #202223;
}
.card__description {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
}
.card.active .checked {
  display: block;
}

.input {
  padding: 0px 12px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #c9cccf;
  border-radius: 4px;
  width: 100%;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #202223;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  max-width: 620px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  box-shadow: inset 0px -1px 0px #e1e3e5;
}
.modal__header .close-icon {
  cursor: pointer;
}
.modal__footer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1882352941);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__text {
  max-width: 560px;
}
.header__title {
  margin-bottom: 16px;
}

.main__title {
  margin-bottom: 20px;
}

.textfield {
  display: block;
}
.textfield__title {
  margin-bottom: 16px;
}
.textfield__title-modal {
  margin-bottom: 12px;
}
.textfield__subtitle {
  margin-top: -8px;
  margin-bottom: 16px;
}
.textfield.textfield-block {
  padding: 12px 20px;
}
.textfield.textfield-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.textfield.textfield-checkbox input {
  margin-right: 16px;
}
.textfield.textfield-checkbox p {
  margin-right: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202223;
}
.textfield.textfield-checkbox a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #116bf2;
}

.textfield-color-picker {
  display: flex;
  align-items: center;
}
.textfield-color-picker input[type=color] {
  margin-right: 16px;
  width: 45px;
  height: 45px;
  -webkit-appearance: none;
  border: none;
}
.textfield-color-picker input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.textfield-color-picker input[type=color]::-webkit-color-swatch {
  border: none;
}
.textfield-color-picker__title {
  margin-bottom: 4px;
}

.button {
  width: 180px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  border-radius: 5px;
}
.button-outlined {
  background-color: transparent;
  border: 1px solid #202223;
  font-weight: 400;
  color: #202223;
  margin-right: 12px;
}
.button-contained {
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #202223;
  background-color: #202223;
}

.checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #377e62;
  display: none;
}
.checked::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 24px;
  height: 24px;
  background-color: #377e62;
  border-radius: 50%;
}
.checked__icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-1px, 5px) rotate(225deg);
  z-index: 1;
}
.checked__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 12px;
  background-color: #fff;
}
.checked__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 2px;
  background-color: #fff;
}

.final-step .card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.final-step .card:last-child {
  margin-bottom: 0;
}
.final-step .card__icon {
  margin-right: 20px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #202223;
}
.final-step .card__title {
  font-weight: 600;
  font-size: 20px;
}
.final-step .card__description {
  color: #0b1e47;
}
.final-step .card__description a {
  color: inherit;
}
.final-step .card__action-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
.final-step .card__action-buttons span {
  display: inline-flex;
  cursor: pointer;
}
.final-step .card__action-buttons span:first-child {
  margin-right: 8px;
}
.final-step .card__action-buttons svg {
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */