@import '../index.scss';

.main-first-step {
  .card {
    &.card-features {
      display: flex;
      .card__icon {
        margin-right: 20px;
      }
    }
    &.card-level {
      .card__icon {
        margin-bottom: 20px;
      }
    }
    &.card-launch {
      height: 100%;
      .card__icon {
        margin-bottom: 20px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
    }
    &__description {
      color: #0b1e47;
    }
  }
}
